{
  "parser": "@typescript-eslint/parser",
  "rules": {
    "arrow-parens": ["warn", "as-needed"],
    "prefer-const": "warn",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "semi": "warn",
    "quotes": ["warn", "double"],
    "indent": ["warn", 2],
    "comma-dangle": ["warn", "never"]
  },
  "plugins": ["@typescript-eslint"]
}
